Enhanced HTTP Request Service.json
{
  "meta": {
    "instanceId": "12345678-1234-5678-9abc-123456789abc"
  },
  "createdAt": "2024-01-01T00:00:00.000Z",
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "id": "1",
  "name": "Enhanced HTTP Request Service",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "http-request-service",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        160,
        400
      ],
      "id": "9835ee7f-b6b8-434a-8b3f-a0a85daf3367",
      "name": "HTTP Request Webhook",
      "webhookId": "e015e556-1ee5-48b7-867b-deac99f0fb49"
    },
    {
      "parameters": {
        "method": "={{ $json.method || 'GET' }}",
        "url": "={{ $json.url || '' }}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        400
      ],
      "id": "b738991b-5eb9-4761-8314-1105ce3939dd",
      "name": "Dynamic HTTP Request"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        640,
        400
      ],
      "id": "50c98dae-58fc-4d6e-93e5-0906959f4a89",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "HTTP Request Webhook": {
      "main": [
        [
          {
            "node": "Dynamic HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dynamic HTTP Request": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "12345678-1234-5678-9abc-123456789abc",
  "tags": []
}
